<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Logged in User</title>
</head>
<body>
    welcome {{request.user}}
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione deleniti ad eius enim iste harum praesentium voluptates ipsa saepe omnis possimus delectus aperiam maiores ea nostrum minus eaque magni, itaque excepturi in laudantium repellendus. Omnis doloremque quos sint cupiditate nihil officia incidunt! Officiis, deleniti perferendis.</p>
    <a href="/logout">Logout</a>
</body>
</html>